

<% @recipes.each do |resipe| %>
<div>
  <%= link_to recipe_path(recipe.id) do %><%=recipe.title %><% end %>
</div>
<% end %>


<button><%= link_to new_recipe_path, class:"fixed_btn" do%><br><i class="fas fa-utensils"></i><br> 投稿する<% end %></button>