/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebe5d9
}

/*header*/
.navbar {
  background-color: #14b09b;
}
.navbar span {
  color: #ebe5d9;
}

.navbar-brand {
  padding: 5px;
  border: 2px solid #ebe5d9;
  color: #ebe5d9;
}

header li {
  margin-right: 15px;
  color: #ebe5d9;
}

/*スライドショー*/
.swiper {
  width: 100%;
  height: 600px;
  margin: 10px;
}

:root {
  --swiper-navigation-color: #14b09b;
  --swiper-pagination-color: #14b09b;
}
.sized {
  width: 80%;
  height: 80%;
  border-radius: 35px;
}

.fixed_btn
{
  position: fixed;
  bottom: 60px;
  right: 60px;
  border-radius: 50%;
  line-height: 20px;
  width: 100px;
  height: 100px;
  padding: 0;
  color: #fff;
  background-color: #14b09b;
  border: none;
}
.fixed_btn:hover {
  color: #fff;
  background-color: #0359ae;;
}

/*footer*/
footer {
  width: 100%;
  height: 80px;
  background-color: #cc8a56;
  color: white;
}